/* src/MechanicLogin.css */

.mechanic-login-container {
    max-width: 400px; /* Set a maximum width for the form */
    margin: 50px auto; /* Center the form horizontally and add some vertical space */
    padding: 20px; /* Padding inside the container */
    background-color: #e8e4e4; /* Background color */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(55, 55, 55, 0.2); /* Shadow for depth */
}

.mechanic-login-title {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
    font-size: 30px; /* Font size for the title */
    font-weight: 600; /* Bold title */
    color: #171518; /* Title color */
}

.mechanic-login-label {
    margin-bottom: 5px; /* Space below each label */
    font-weight: 500; /* Slightly bolder text for labels */
    color: #555; /* Dark color for labels */
    font-style: italic; /* Italic style for labels */
    text-align: left; /* Align labels to the left */
    display: block; /* Make labels take up the full width */
    width: 100%; /* Ensure the label takes the full width */
}

.mechanic-login-input {
    padding: 12px; /* Inner padding for inputs */
    border: 2px solid #3a8ce3; /* Primary border color */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 20px; /* Space below each input */
    font-size: 16px; /* Font size */
    background-color: #e9e8e9; /* Input background color */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
    width: 90%; /* Make input fields full width */
}

.mechanic-login-input:focus {
    border-color: #0056b3; /* Darker border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow effect on focus */
    outline: none; /* Remove default outline */
}

.mechanic-login-button {
    padding: 12px; /* Inner padding for the button */
    background-color: #3d03f9; /* Button color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners for the button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
    width: 25%; /* Full width button */
}

.mechanic-login-button:hover {
    background-color: #0717ca; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.mechanic-login-error-message {
    color: #f5041d; /* Red color for error messages */
    font-size: 14px; /* Font size for error messages */
    margin-top: -12px; /* Space above error messages */
    
}
