.spec-mechanic-reviews-h1 {
    text-align: center;
    margin-bottom: 20px;
}

.spec-mechanic-reviews-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.spec-error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.spec-mech-review-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewer-username {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.review-feedback {
    font-style: italic;
    margin-bottom: 10px;
}

.review-date {
    color: #666;
    margin-bottom: 10px;
}

.review-rating {
    font-size: 1.1em;
}

.filled-star {
    color: gold;
    font-size: 1.2em;
}

.empty-star {
    color: #ccc;
    font-size: 1.2em;
}