.profile {
    flex: 3;
}

.profile--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    background: #dde6ed;
    padding: 12px;
    border-radius: 10px;
    color: #969393;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit .icon {
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.user--profile {
    height: 85%;
    width: 50vh;
    margin-top: 2rem;
    background-color: #dde6ed;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user--detail {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.user--detail img {
    background: #fff;
    width: 150px;
    border-radius: 50%;
}

.user--detail .username {
    color: black;
}

.user-expertises {
    background: #fff;
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expertise {
    background: #dde6ed;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.expertise--detail {
    display: flex;
    gap: 20px;
    align-items: center;
}

.expertise--cover {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
}