.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.user-sidebar {
    width: 12%;
    background-color: #f4f4f4;
    height: 100%;
    box-sizing: border-box;
}

.dashboard--content {
    display: flex;
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 20px;
}

.dashboard-user-content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.dashboard-user-profile {
    width: 20%;
    background-color: #e0e0e0;
    box-sizing: border-box;
}